.completed {
  color: green;
}

.incompleted {
    color: red;
}

.todo {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.todo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}